<html>
<head>
    <title>Member-Chat</title>
    <script>
        //Read Cookie
        token="eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJvcmlnX2lhdCI6MTQ4NzkyMDgwMCwiZXhwIjoxNDg5MjE2ODAwLCJ1c2VybmFtZSI6ImFkbWluIiwiZW1haWwiOiIiLCJ1c2VyX2lkIjoyfQ.g1ld-r76nIYNfO8ZnHcj1Tq0SfE4Lmqy-ZBd-59xn9A"
        //Get chatId from sidebar (sidebar gets  it from /chat/list)
        chatId="1"
        lastMsgId="0"
        ws = new WebSocket('ws://' +  window.location.host + '/chat/chat?token='+token+'&chatId='+chatId+'&lastMsgId='+lastMsgId)
        ws.onmessage = function(message) {
            chatWindow=document.getElementById('chatWindow');
            chatWindow.innerHTML+=message.data;
        }
        function send() {
                sendBox=document.getElementById('sendBox');
                ws.send(sendBox.value);
                sendBox.value="";
        }
    </script>
    <link rel="stylesheet" href="chat.css">
</head>
<body>
    <div id="main">
        <div id="chat">
            <textarea id="chatWindow"></textarea>
            <textarea id="sendBox"></textarea>
            <input type="button" id="sendBtn" onClick="send()" value="Send">
        </div>
    </div>
</body>
</html>
